# docker posgres 16(16.8)
# DATABASE_URL=postgresql://postgres:password@localhost:54321/stock_local
DATABASE_URL=
DATABASE_PUBLIC_URL=


# KAKAO_CLIENT_ID = 내 애플리케이션 > 앱 설정 > 앱 키 - REST API 키
# KAKAO_CLIENT_SECRET = 내 애플리케이션 > 제품 설정 > 카카오 로그인 > 보안 - Client Secret
# KAKAO_LOGIN_REDIRECT_URI = 내 애플리케이션 > 카카오 로그인 설정 - Redirect URI
# KAKAO_ADMIN_KEY = 내 애플리케이션 > 앱 설정 > 앱 키 - Admin 키
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_LOGIN_REDIRECT_URI=
KAKAO_ADMIN_KEY=

# logger 환경변수
NODE_ENV=development
LOG_LEVEL=debug


# 기본 앱 URL 관련 스키마
NEXT_PUBLIC_APP_URL=
# 레디스 접속 정보
REDIS_URL=
# FAST API 스키마
FASTAPI_URL=

# 프로필 이미지 업로드 관련 클라우드 서비스 설정
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# 일일 채팅한도
DAILY_CHAT_LIMIT=

# GTM 태그 아이디
NEXT_PUBLIC_GTM_ID=
